<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 数据源和事务管理器，spring和mybatis已经配置了 -->
<!-- 	<bean id="dataSource" -->
<!-- 		class="org.springframework.jdbc.datasource.SimpleDriverDataSource"> -->
<!-- 		<property name="driverClass" value="org.h2.Driver" /> -->
<!-- 		<property name="url" value="jdbc:h2:mem:activiti;DB_CLOSE_DELAY=1000" /> -->
<!-- 		<property name="username" value="sa" /> -->
<!-- 		<property name="password" value="" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="transactionManager" -->
<!-- 		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> -->
<!-- 		<property name="dataSource" ref="dataSource" /> -->
<!-- 	</bean> -->
	
	<!-- 流程引擎的配置 -->
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="dataSourceTransactionManager" />
		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="false" />
		<property name="activityFontName" value="宋体"></property>
		<property name="annotationFontName" value="宋体"></property>
		<property name="labelFontName" value="宋体"></property>
		
		<!-- 我们的james邮件服务器默认主机和端口好就是localhost，25，其实这部可以不配，但是如果不是此默认值，则必须配 -->
		<property name="mailServerHost" value="localhost"></property>
		<property name="mailServerPort" value="25"></property>
	</bean>
	
	<!-- 加载配置，通过工厂产生流程引擎 -->
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>
	
	<!-- 拿到五种要用的流程服务 -->
	<bean id="repositoryService" factory-bean="processEngine"
		factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine"
		factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine"
		factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine"
		factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine"
		factory-method="getManagementService" />

</beans>
